@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	color: #3c3c3c;
}
section {
	text-align: center;
	align-items: center;
}
h1, h2, h3 {
	text-transform: uppercase;
	letter-spacing: 4px;
}
p {
	line-height: 1.5;
}
/*HERO SECTION*/
.hero {
	width: 100%;
	height: 100vh;
	background-color: #a8b3c5;
	background-image: url(../img/hero.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.hero-content {
	margin: auto;
	padding-top: 150px;
	color: #fff;
}
.hero-ellipse {
	margin-bottom: 2em;
}
.hero h1 {
	font-size: 34px;
	letter-spacing: 10px;
}
.hero p {
	line-height: 29px;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.icon-scroll,
.icon-scroll:before {
	position: absolute;
	left: 50%;
	bottom: 20px;
} 
.icon-scroll {
	width: 20px;
	height: 35px;
	margin-left: -10px;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 25px;
} 
.icon-scroll:before {
	content: '';
	width: 4px;
	height: 4px;
	background: #fff;
	margin-left: -2px;
	top: 4px;
	border-radius: 2px;
	-webkit-animation-duration: scroll 1.5s infinite;
	-moz-animation-duration: scroll 1.5s infinite;
	-o-animation-duration: scroll 1.5s infinite;
	animation: scroll 1.5s infinite;
} 
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }  
  100% {
    opacity: 0;
    -webkit-transform: translateY(23px);
   } 
}  
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }  
  100% {
    opacity: 0;
    -moz-transform: translateY(23px);
   } 
}  
@-o-keyframes scroll {
  0% {
    opacity: 1;
  }  
  100% {
    opacity: 0;
    -o-transform: translateY(23px);
   } 
}  
@keyframes scroll {
  0% {
    opacity: 1;
  }  
  100% {
    opacity: 0;
    transform: translateY(23px);
   } 
}    
/*ALL CONTENT SECTIONS*/
.section-content {
	padding-top: 60px;
	padding-bottom: 60px;
	margin: auto;
}
.box {
	border: 1px solid #000;
	width: 675px;
	margin: 0 auto;
}
.box h1 {
	display: inline-block;
	width: 300px;
	position: relative;
	top: -35px;
	background-color: #fff;
	margin-bottom: 0px;
}
.box p {
	margin-top: 0px;
	margin-bottom: 40px;
	padding-right: 60px;
	padding-left: 60px;
}

/*SERVICES SECTION*/
.services {
	background-color: #a8b3c5; 
	background-image: url(../img/services.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	color: #fff;
}
.services .box {
	border-color: #fff;
	border-top: none;
}
.services h1 {
	width: auto;
	background-color: transparent;
	display: inline-block;
	position: relative;
	top: -35px;
	margin-bottom: 0px;
}
.services h1::before {
	content: "";
	display: inline-block;
	width: 187px;
	border-top: 1px solid #fff;
	position: relative;
	bottom: 8px;
	right: 80px;
}
.services h1::after {
	content: "";
	display: inline-block;
	width: 187px;
	border-top: 1px solid #fff;
	position: relative;
	bottom: 8px;
	left: 80px;
}

/*WHAT-WE-DO SECTION*/
.what-we-do img {
	display: block;
	margin: 20px auto;
}
.what-we-do h2 {
	font-size: 18px;
	margin: 10px auto;
}
.what-we-do p {
	margin-bottom: 60px;
}
/*GALLERY SECTION*/
.gallery {
	color: #fff;
}
.flex-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	height: 160px;
	margin-bottom: 5px;
	text-align: left;
}
.flex-img {
	-webkit-flex: 1; 
    -moz-flex: 1;
    -ms-flex: 1;
	flex: 1;
	background-position: center;
    background-size: cover;
    -webkit-transition: flex 1s;
    -moz-transition: flex 1s;
    -o-transition: flex 1s;
    transition: flex 1s;
}
.flex-img:hover {
	-webkit-flex: 2; 
    -moz-flex: 2;
    -ms-flex: 2;
	flex: 2;
}
.middle-img {
	margin: 0 5px;
}
.img1 {background-image: url(../img/img1.png);} 
.img2 {background-image: url(../img/img2.png);}
.img3 {background-image: url(../img/img3.png);} 
.img4 {background-image: url(../img/img4.png);} 
.img5 {background-image: url(../img/img5.png);} 
.img6 {background-image: url(../img/img6.png);} 

.flex-h2 {
	margin-left: 10px;
	margin-top: 120px;
}

/*CONTACT SECTION*/
.btn-contact {
	text-transform: uppercase;
	width: 300px;
	padding: 10px 60px;
	letter-spacing: 2px;
	color: #fff;
	background-color: #3c3c3c;
	border: 1px solid #3c3c3c ;
	margin-bottom: 40px;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.btn-contact:hover {
	background-color: #fff;
	color: #3c3c3c;
}

/*FOOTER*/
.footer-content {
	text-align: center;
	font-size: 14px;
}
.footer-content  p {
	display: inline-block;
	vertical-align: middle;
	height: 50px;
}
.footer-content  img {
	margin: 0 10px;
}

@media (max-width: 768px) {
	.hero-content {
		padding-top: 20px;
		margin: auto 20px;
	}
	.hero h1 {
		font-size: 24px;
		letter-spacing: 3px;
	}
	.hero p {
		letter-spacing: 1px;
		margin-top: 2em;
		font-size: 16px;
	}
	.icon-scroll,
	.icon-scroll:before {
		bottom: 60px;
	 } 
	.box {
		width: 340px;
		}
	.box h1 {
		width: 250px;
	}	
	.box p {
		padding-right: 40px;
		padding-left: 40px;
	}
	.services h1::before {
		width: 45px;
		bottom: 8px;
		right: 54px;
	}
	.services h1::after {
		width: 45px;
		position: relative;
		bottom: 8px;
		left: 54px;
	}
	.flex-row h2 {
		font-size: 12px;
	}
	.flex-img:hover {
		-webkit-flex: 3;
		-moz-flex: 3;
		-ms-flex: 3;
		flex: 3;
	}
	.btn-contact {
		width: 250px;
	}
} 